.container {
  min-height: 300px;
  margin-top: 2rem;
}

.container > h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.05em;
  text-align: center;
  margin-bottom: 1rem;
}

.container > p {
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: var(--gray-dark);
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
}

.container > div:nth-child(3),
.container > div:nth-child(2) {
  max-width: 40%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .container {
    min-height: 300px;
    margin-top: 2rem;
  }

  .container > h2 {
    font-size: 28px;
    margin-bottom: 1rem;
  }

  .container > p {
    font-size: 16px;
    color: var(--gray-dark);
    width: 100%;
    margin-bottom: 2rem;
  }

  .container > div:nth-child(3) {
    max-width: 100%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .container {
    min-height: 300px;
    margin-top: 2rem;
  }

  .container > h2 {
    font-size: 32px;
    margin-bottom: 1rem;
  }

  .container > p {
    font-size: 16px;
    color: var(--gray-dark);
    width: 100%;
    margin-bottom: 2rem;
  }

  .container > div:nth-child(3) {
    max-width: 100%;
  }
}
